---
layout: default
---
<article class="post">

  <header class="post-header">
    <br>
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <hr/>
  <br>

  <div class="post-content">
    {{ content }}
  </div>

  <script>
  var elements = document.body.getElementsByTagName ("a");
  var pagesList = [{% for page in site.pages %} "{{ page.url }}", {% endfor %}];

  for (var elementIndex = 0; elementIndex < elements.length; elementIndex++)
  {
      var found = false;
      var element = elements [elementIndex];

      if (!element.href.includes ("wiki"))
      {
          continue;
      }

      for (var pageIndex = 0; pageIndex < pagesList.length; pageIndex++)
      {
          if (element.href.endsWith (pagesList [pageIndex]))
          {
              found = true;
              break;
          }
      }

      if (!found)
      {
          element.style.color = "#cc2222";
      }
  }
  </script>
</article>
